apiVersion: v1
kind: Service
metadata:
  name: {{ include "ocloud-app.fullname" . }}
  labels:
    {{- include "ocloud-app.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: {{ .Values.service.healthPort }}
      targetPort: health
      protocol: TCP
      name: health
  selector:
    {{- include "ocloud-app.selectorLabels" . | nindent 4 }}